<%= stylesheet_link_tag "rides" %>
<div class="tile-container-rides">
  <span><i class="fa fa-check"></i></span>
  <div class="tile">
    <div class="tile-title">
      <div class="route">
        <div class="from-to">
          <%= image_tag "from.svg", title: "origin" %>
          <p>Andela Kenya</p>
        </div>
        <p>to</p>
        <div class="from-to">
          <%= image_tag "to.svg", title: "destination" %>
          <p>Westlands</p>
        </div>
      </div>
      <div class="time">Departing: 5.50pm</div>
    </div>
    <div class="tile-content">
      <div class="ride-vehicle">
        <%= image_tag "vehicle.svg" %>
        <div class="license-plate">KCR 232C</div>
      </div>
      <div class="seating-capacity">
        <%= image_tag "capacity.svg" %>
        <div class="seats-left">5 seats left</div>
      </div>
      <div class="ride-color">
        <%= image_tag "palette.svg" %>
        <div class="ride-details">White - Toyota Corolla</div>
      </div>
    </div>
    <div class="tile-update">
      <div class="update-btn">
        <i class="fa fa-pencil"></i>
        <div class="update-text">Edit</div>
      </div>
      <div class="update-btn">
        <i class="fa fa-trash"></i>
        <div class="update-text">Delete</div>
      </div>
    </div>
  </div>
</div>
