<%= stylesheet_link_tag "rides" %>
<div class="tile-container-rides">
  <span><i class="fa fa-check"></i></span>
  <%= form_for :ride, url: ride_path(1), html: {class: "tile"}, method: :patch do |f| %>
    <div class="tile-title">
      <div class="route">
        <div class="from-to">
          <%= image_tag "from.svg", title: "origin" %>
          <%= f.text_field :origin, required: true, value: "Andela Kenya" %>
        </div>
        <div>to</div>
        <div class="from-to">
          <%= image_tag "to.svg", title: "destination" %>
          <%= f.text_field :destination, required: true, value: "Westlands" %>
        </div>
      </div>
      <%= f.datetime_local_field :departure_time, class: "time", required: true, value: "2018-08-13T17:30" %>
    </div>
    <div class="tile-content">
      <div class="ride-vehicle">
        <%= image_tag "vehicle.svg" %>
        <%= f.select :vehicle_id, ['KCR 232C', 'KCF 123F'], {}, {class: "license-plate"} %>
      </div>
      <div class="seating-capacity">
        <%= image_tag "capacity.svg" %>
        <%= f.text_field :capacity, required: true,
        class: "seats-left",
        pattern: '^[0-9]$',
        value: "5",
        title: "Capacity must be a number, e.g. 5"
        %>
      </div>
      <div class="ride-color">
        <%= image_tag "palette.svg" %>
        <div class="ride-details">White - Toyota Corolla</div>
      </div>
    </div>
    <div class="tile-update">
      <div class="edit-btn update-btn">
        <i class="fa fa-pencil"></i>
        <div class="edit edit-ride">Edit</div>
      </div>
      <div class="update-btn">
        <i class="fa fa-save"></i>
        <%= f.submit "Save", class: "save" %>
      </div>
      <div class="book-btn update-btn">
        <i class="fa fa-car"></i>
        <div class="edit-ride">Book</div>
      </div>
      <div class="delete-btn update-btn">
        <i class="fa fa-trash"></i>
        <div class="delete-ride"><%= link_to 'Delete', "#", data: {toggle: "modal", target: "#delete-ride-modal"} %></div>
      </div>
      <div class="cancel-btn update-btn">
        <i class="fa fa-ban"></i>
        <div class="delete-ride">Cancel</div>
      </div>
    </div>
  <% end %>
</div>
