<%= form_for :user, url: register_path do |f| %>
<div class="email">
  <i class="fa fa-user icon"></i>
  <%= f.email_field :email, required: true, placeholder: "you@example.com" %>
</div>
<div class="password">
  <i class="fa fa-key icon"></i>
  <%= f.password_field :password, required: true,
  pattern: '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}',
  placeholder: "....",
  title: "Password must contain at least 6 characters, including UPPER/lowercase and numbers",
  onchange: "form.user_password_confirmation.pattern = RegExp.escape(this.value);"
  %>
</div>
<div class="confirm-password">
  <i class="fa fa-key icon"></i>
  <%= f.password_field :password_confirmation, required: true, placeholder: "....",
  title: "Please enter the same password as above"
  %>
</div>
<div class="remember">
  <%= check_box_tag :remember_me %>
  <p>Remember Me</p>
</div>
<%= f.submit "Register", class: "register-button" %>
<p class="toggle-login">
  Already have an account?
  <%= link_to 'Login', login_path, class: "to-login" %>
</p>
<% end %>
