<%= javascript_include_tag "vehicle" %>
<div class="tile-container-settings vehicle-tile">
  <span><i class="fa fa-check"></i></span>
  <%= form_for :vehicle, url: vehicle_path(vehicle.id), html: {class: "tile"}, method: :patch do |f| %>
    <div class="tile-title">
      <div class="vehicle">
        <%= image_tag "vehicle.svg" %>
        <div class="make-model">
          <%= f.text_field :make, required: true, value: vehicle.make %>
          <%= f.text_field :model, required: true, value: vehicle.model %>
        </div>
      </div>
      <div class="rides-history">Rides Completed: <%= vehicle.rides.count %></div>
    </div>
    <div class="tile-content">
      <div class="license">
        <%= image_tag "license-plate.svg" %>
        <div class="plate">
          <%= f.text_field :license_plate, required: true,
          pattern: '^[A-Z]{3} [0-9]{3}[A-Z]{1}$',
          value: vehicle.license_plate,
          title: "License Plate must be in this format: KCR 232C"
          %>
        </div>
      </div>
      <div class="capacity">
        <%= image_tag "capacity.svg" %>
        <div class="seating">
          <%= f.text_field :capacity, required: true,
          pattern: '^[0-9]$',
          value: vehicle.capacity,
          title: "Capacity must be a number, e.g. 5"
          %>
        </div>
      </div>
      <div class="color">
        <%= image_tag "palette.svg" %>
        <div class="hue">
          <%= f.text_field :color, required: true, value: vehicle.color %>
        </div>
      </div>
    </div>
    <div class="tile-update">
      <div class="update-btn">
        <i class="fa fa-pencil"></i>
        <div class="edit">Edit</div>
      </div>
      <div class="update-btn">
        <i class="fa fa-save"></i>
        <%= f.submit "Save", class: "save" %>
      </div>
      <div class="update-btn">
        <i class="fa fa-trash"></i>
        <div class="delete"><%= link_to 'Delete', "#", data: {toggle: "modal", target: "#delete-vehicle-modal", href: vehicle_path(vehicle.id)} %></div>
      </div>
    </div>
  <% end %>
</div>
