<nav class="top-nav">
  <% if current_page?(rides_path) %>
    <%= form_tag rides_path, method: :get, remote: true, class: "search-form" do %>
      <div class="search">
        <%= search_field_tag :destination, params[:destination], placeholder: 'Where are you going?' %>
      </div>
      <%= submit_tag "Search", name: nil, class: "search-button", style: "display: none;" %>
    <% end %>
  <% end %>
  <div class="right-top-nav">
    <div class="notifications-top-nav">
      <%= render partial: "layouts/partials/notification_dropdown" %>
    </div>
    <div class="current-user">
      <%= image_tag "user.svg" %>
      <span><%= current_user.email %></span>
    </div>
    <div class="dropdown-button">
      <%= image_tag "menu.svg" %>
      <div class="dropdown-content">
        <%= link_to "Logout", logout_path %>
      </div>
    </div>
  </div>
</nav>
