<%= stylesheet_link_tag "rides" %>
<%= javascript_include_tag 'rides' %>
<div class="profile">
  <nav class="left-nav">
    <div class="logo">
      <%= image_tag "car-profile.svg" %>
      <p>Rydr</p>
    </div>
    <div class="nav-title"><p>Available Rides</p></div>
    <div class="line-break"></div>
    <button class="left-nav-link vehicles-nav">
      <i class="fa fa-car"></i><span>RIDES</span>
    </button>
    <button class="left-nav-link profile-nav">
      <i class="fa fa-cogs"></i><span><%= link_to "SETTINGS", user_path(@user.id) %></span>
    </button>
    <div class="line-break"></div>
  </nav>
  <div class="right-container">
    <nav class="top-nav">
      <div class="right-top-nav">
        <div class="notifications-icon notifications-nav">
          <%= image_tag "bell_icon.svg" %>
          <span class="badge">20</span>
        </div>
        <div class="current-user">
          <%= image_tag "user.svg" %>
          <span><%= @user.email %></span>
        </div>
        <div class="dropdown-button">
          <%= image_tag "menu.svg" %>
          <div class="dropdown-content">
            <%= link_to "Logout", logout_path %>
          </div>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="filters">
        <%= render partial: "rides/partials/rides_filter" %>
      </div>
      <div class="tiles-rides">
        <%= render partial: "rides/partials/ride" %>
        <%= render partial: "rides/partials/ride" %>
        <%= render partial: "rides/partials/ride" %>
        <%= render partial: "rides/partials/ride" %>
        <%= render partial: "rides/partials/ride" %>
        <%= render partial: "rides/partials/notifications" %>
      </div>
    </div>
  </div>
</div>
